
.vs/PetHelper.API/DesignTimeBuild/.dtbcache.v2
.vs/PetHelper.API/FileContentIndex/18938609-6655-45aa-b07c-ea3ed3401900.vsidx
.vs/PetHelper.API/FileContentIndex/298b4edc-8458-4f9c-b0b0-a50fb1cc7f98.vsidx
.vs/PetHelper.API/FileContentIndex/7133cc6f-08ba-4cfa-b66a-9d7dcb86a06e.vsidx
.vs/PetHelper.API/FileContentIndex/a32deaf1-b23a-4c21-8716-160128db092f.vsidx
.vs/PetHelper.API/FileContentIndex/ed3bbcb2-7b74-4fdd-a3d1-05e48fb06cc6.vsidx
.vs/PetHelper.API/v17/.futdcache.v1
.vs/PetHelper.API/v17/.suo
.vs/ProjectEvaluation/pethelper.api.metadata.v2
.vs/ProjectEvaluation/pethelper.api.projects.v2
*.db
*.db-shm
*.db-wal
*.config
*.vsidx
**/bin/
**/obj/
*.vs
*.v2
.vs/PetHelper.API/v17/.suo
*.v2
*.v2
