<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-info">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Total de Vendas</p>
            <h4 class="my-1 text-info">55</h4>
            <p class="mb-0 font-13">+2.5% que a última semana</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i
              class="fa fa-shopping-cart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-warning">
      <div class="card-body">
        <div class="d-flex ">
          <div>
            <p class="mb-0 text-secondary">Total de Serviços</p>
            <h4 class="my-1 text-warning">25</h4>
            <p class="mb-0 font-13">+8.4% que a última semana</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-success">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <p class="mb-0 text-secondary">Rendimento Total</p>
            <h4 class="my-1 text-success">34.6%</h4>
            <p class="mb-0 font-13">+4.5% que a última semana</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i
              class="fa fa-bar-chart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-danger">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Despesas Totais</p>
            <h4 class="my-1 text-danger">$84,245</h4>
            <p class="mb-0 font-13">+5.4% que a última semana</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="row row-container" >
  <div class="col">
    <table class="table table-striped table-hover">
      <thead  class="thead-dark"  style="background-color: #263238; color: white;">
        <tr>
          <th>Cliente</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Serviço</th>
          <th>Horário</th>
          <th>Status</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="agendamentos && agendamentos.length">
        <tr *ngFor="let agendamento of agendamentos"
          style="cursor: pointer;">
          <td>{{agendamento.cliente}}</td>
          <td>{{agendamento.telefone | TelefoneFormat}}</td>
          <td>{{agendamento.endereco}}</td>
          <td>{{agendamento.servico}}</td>
          <td>{{agendamento.horario}}</td>
          <td>{{agendamento.status}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-g mr-2" tooltip="Deletar">
              <i class="fa fa-trash"></i>
            </button>
            <button type="button" class="btn btn-success btn-g" tooltip="Iniciar conversa Whatsapp">
              <i class="fa-brands fa-whatsapp"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <app-calendario></app-calendario>
  </div>
</div>
