.radius-10 {
  border-radius: 10px !important;
}

.border-info {
  border-left: 5px solid  #0dcaf0 !important;
}

.border-danger {
  border-left: 5px solid  #fd3550 !important;
}

.border-success {
  border-left: 5px solid  #15ca20 !important;
}

.border-warning {
  border-left: 5px solid  #ffc107 !important;
}

.row-container{
  display: flex;
  flex-direction: row;
}
